# ===============================
# APP CONFIG
# ===============================
NODE_ENV=development
PORT=5000
APP_NAME=FoodDeliveryBackend
API_PREFIX=/api/v1

# ===============================
# DATABASE (PostgreSQL)
# ===============================
DATABASE_URL=postgresql://user:password@localhost:5432/db_name

# ===============================
# REDIS
# ===============================
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# ===============================
# JWT
# ===============================
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# ===============================
# PAYMENT (Stripe Example)
# ===============================
STRIPE_SECRET_KEY=your_stripe_secret
STRIPE_WEBHOOK_SECRET=your_webhook_secret

# ===============================
# QUEUE (BullMQ)
# ===============================
QUEUE_PREFIX=food_backend

# ===============================
# ADMIN
# ===============================
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=supersecurepassword

# ===============================
# LOGGING
# ===============================
LOG_LEVEL=info